
<div ng-repeat="ad in ads.ads" class="panel panel-primary">
    <div class="panel-heading">{{ad.title}} <span class="pull-right">{{ad.date | date:'dd-MMM-yyyy'}}</span>
    </div>
    <div class="panel-body">

        <div class="row">
            <div ng-if="ad.imageDataUrl" class="col-md-4">
                <img data-ng-src="{{ad.imageDataUrl}}"  alt="{{ad.title}}" width="170px;">
            </div>
            <div ng-class="{true: 'col-md-8', false: 'col-md-12'}[ad.imageDataUrl != null]">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="permalink_section">{{ad.text}}</p>
                    </li>
                    <li class="list-group-item"><span class="label label-primary">Category</span> {{ad.categoryName}}</li>
                    <li class="list-group-item"><span class="label label-primary">Town</span> {{ad.townName}}</li>

                </ul>
                <button disabled class="btn btn-primary">{{ad.status}}</button>
                <button ng-click="deactivateUserAd(ad.id)" ng-if="ad.status != 'Inactive'" class="btn btn-danger pull-right">Deactivate</button>
                <a ng-if="ad.status == 'Inactive'" href="#/user/ads/edit/{{ad.id}}"><button class="btn btn-danger ">Edit</button></a>
                <button ng-click="publishAgainUserAd(ad.id)" ng-if="ad.status == 'Inactive'" class="btn btn-danger ">Publish again</button>
                <a ng-if="ad.status == 'Inactive'" href="#/user/ads/delete/{{ad.id}}"><button class="btn btn-danger ">Delete</button></a>
            </div>
        </div>
    </div>
</div>


<nav class="col-md-12 text-center" ng-hide="ads.numItems == 0">
    <pagination total-items="ads.numItems" ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                max-size="9" boundary-links="true">
    </pagination>
</nav>
<h1 class="col-md-12 text-center" ng-show="ads.numItems == 0">No Ads</h1>