<div class="panel panel-primary">
    <div class="panel-heading">Navigation</div>
    <ul class="list-group">
        <li class="list-group-item"><a href="#/"><button class="btn btn-primary btn-sidebar"> Home</button></a></li>
    </ul>
</div>

<div ng-if="authService.isAnonymous()" class="panel panel-primary">
    <div class="panel-body">
        <p> To publish a new
            ad, please login.</p>
        <a href="#/login">  <button type="button" class="btn btn-default btn-login-register">Login</button></a>
        <a href="#/register"> <button type="button" class="btn btn-default btn-login-register">Register</button></a>
    </div>
</div>