<div ng-if="authService.isAnonymous()" class="panel panel-primary">
    <div class="panel-heading">Navigation</div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/">
            <button ng-click="navigationClicked('home')"
                    ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedNavigationId == 'home' || location.path() == '/']">
                Home
            </button>
            </a>
        </li>
        <li class="list-group-item">
            <p>To publish a new
                ad, please login.</p>
        </li>
        <li  ng-if="authService.isAnonymous()"  class="list-group-item">
            <a href="#/login">
                <button ng-click="navigationClicked('login')"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedNavigationId == 'login' || location.path() == '/login']">
                    Login
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/register">
                <button ng-click="navigationClicked('register')"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedNavigationId == 'register' || location.path() == '/register']">
                    Register
                </button>
            </a>
        </li>
    </ul>
</div>

<div ng-if="authService.isNormalUser()" class="panel panel-primary">
    <div class="panel-heading">Navigation</div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/user/home">
                <button ng-click="navigationClicked('userHome')"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedNavigationId == 'userHome' || location.path() == '/user/home']">
                    Home
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/ads">
                <button ng-click="navigationClicked('myAds')"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedNavigationId == 'myAds' || location.path() == '/user/ads']">
                    My Ads
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/ads/publish">
                <button ng-click="navigationClicked('publishNewAd')"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedNavigationId == 'publishNewAd' || location.path() == '/user/publish']">
                    Publish new ad
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/profile">
                <button ng-click="navigationClicked('editUserProfile')"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedNavigationId == 'editUserProfile' || location.path() == '/user/edit']">
                    Edit profile</button>
            </a>
        </li>
    </ul>
</div>

<div ng-if="location.path() == '/user/ads'" class="panel panel-primary">
    <div class="panel-heading">My Ads</div>
    <ul class="list-group">
        <li class="list-group-item">
            <a>
                <button ng-click="myAdsNavigationClicked(null)"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[clickedMyAdsNavigationId == null]">
                    All
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a>
                <button ng-click="myAdsNavigationClicked(2)"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[clickedMyAdsNavigationId == 2]">
                    Published
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a>
                <button ng-click="myAdsNavigationClicked(1)"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[clickedMyAdsNavigationId == 1]">
                    Waiting Approval
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a>
                <button ng-click="myAdsNavigationClicked(0)"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[clickedMyAdsNavigationId == 0]">
                    Inactive
                </button>
            </a>
        </li>
        <li class="list-group-item">
            <a>
                <button ng-click="myAdsNavigationClicked(3)"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[clickedMyAdsNavigationId == 3]">
                    Rejected
                </button>
            </a>
        </li>
    </ul>
</div>
