<div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" href="#collapseCategories">
        Categories <span class="caret"></span>
    </div>
    <ul id="collapseCategories" class="list-group sidebar-menu panel-collapse collapse">
        <li class="list-group-item">
            <a>
                <button class="btn btn-sidebar btn-default"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedCategoryId == null]"
                        ng-click="categoryClicked(null)">
                        All
                </button>
            </a>
        </li>
        <li ng-repeat="category in categories" class="list-group-item">
            <a>
            <button class="btn btn-default btn-sidebar"
                    ng-click="categoryClicked(category.id)"
                    ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedCategoryId == category.id]">
                    {{category.name}}
            </button>
            </a>
        </li>
        <div data-toggle="collapse" href="#collapseCategories" class="panel-footer">
            close
            <span class="dropup">
                <span class="caret"></span>
            </span>
        </div>
    </ul>

</div>

<div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" href="#collapseTowns">
        Towns <span class="caret"></span>
    </div>
    <ul id="collapseTowns" class="list-group sidebar-menu panel-collapse collapse">
        <li class="list-group-item">
            <a>
                <button class="btn btn-sidebar btn-default"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedTownId == null]"
                        ng-click="townClicked(null)">
                    All
                </button>
            </a>
        </li>
        <li ng-repeat="town in towns" class="list-group-item">
            <a>
                <button class="btn btn-default btn-sidebar"
                        ng-click="townClicked(town.id)"
                        ng-class="{true: 'btn btn-sidebar btn-primary', false: 'btn btn-sidebar btn-default'}[selectedTownId == town.id]">
                    {{town.name}}
                </button>
            </a>
        </li>
        <div data-toggle="collapse" href="#collapseTowns" class="panel-footer">
            close
            <span class="dropup">
                <span class="caret"></span>
            </span>
        </div>
    </ul>
</div>
</div>