<div class="panel panel-primary">
    <div class="panel-heading">Categories</div>
    <ul class="list-group">
        <li class="list-group-item"><a>All</a></li>
        <li class="list-group-item"><a>Cars</a></li>
        <li class="list-group-item"><a>Properties</a></li>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Towns</div>
    <ul class="list-group">
        <li class="list-group-item"><a>All</a></li>
        <li class="list-group-item"><a>Plovdiv</a></li>
        <li class="list-group-item"><a>Burgas</a></li>
    </ul>
</div>
</div>