<div class="panel panel-primary">
    <div class="panel-heading">Categories</div>
    <ul class="list-group">
        <li class="list-group-item"><a><button class="btn btn-primary btn-sidebar"> All</button></a></li>
        <li class="list-group-item"><a><a><button class="btn btn-primary btn-sidebar"> Cars</button></a></li>
        <li class="list-group-item"><a><a><button class="btn btn-primary btn-sidebar"> Properties</button></a></li>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Towns</div>
    <ul class="list-group">
        <li class="list-group-item"><a><a><button class="btn btn-primary btn-sidebar"> All</button></a></li>
        <li class="list-group-item"><a><a><button class="btn btn-primary btn-sidebar"> Plovdiv</button></a></li>
        <li class="list-group-item"><a><a><button class="btn btn-primary btn-sidebar"> Burgas</button></a></li>
    </ul>
</div>
</div>