<div class="panel panel-primary">
    <div class="panel-heading">Edit ad</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" id="title" ng-model="adData.title" placeholder="{{ads.title}}" />
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <textarea class="form-control" id="text" ng-model="adData.text"  placeholder="{{ads.text}}" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="image">Image:</label>
                <input class="form-control" type="file" id="image" onchange="angular.element(this).scope().fileSelected(this)"  />

            </div>
            <button ng-click="changeImage()" ng-class="{true: 'btn btn-danger', false: 'btn btn-primary'}[selectedImageChangeState == true]">Change image</button>
            <button ng-click="deleteImage()" ng-class="{true: 'btn btn-danger', false: 'btn btn-primary'}[selectedImageDeleteState == true]">Delete image</button>
            <div class="form-group image-box">
                <img class="ad-img" src="{{ads.imageDataUrl}}">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" ng-model="adData.ownerUsername"  placeholder="{{ads.ownerUsername}}" />
            </div>
            <div class="form-group">
                <label for="inputCategory">Category</label>
                <select class="form-control" id="inputCategory" ng-model="adData.categoryId">
                    <option ng-repeat="category in categories" ng-selected="category.id == ads.categoryId"
                            value="{{category.id}}">{{category.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputTown">Town</label>
                <select class="form-control" id="inputTown" ng-model="adData.townId">
                    <option ng-repeat="town in towns" ng-selected="town.id == ads.townId"
                            value="{{town.id}}">{{town.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" ng-model="adData.status">
                    <option ng-selected="ads.status == 'Inactive'"
                            value="0">Inactive</option>
                    <option ng-selected="ads.status == 'WaitingApproval'"
                            value="1">WaitingApproval</option>
                    <option ng-selected="ads.status == 'Published'"
                            value="2">Published</option>
                    <option ng-selected="ads.status == 'Rejected'"
                            value="3">Rejected</option>
                </select>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <p class="input-group">
                    <input type="text" id="date" class="form-control" datepicker-popup="{{format}}" ng-model="adData.date" is-open="opened" min-date="21-12-2011" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>

            <button ng-click="editAdminAd(ads.id, adData)" class="btn btn-primary">Edit</button>
            <a href="#/user/ads" class="button"><button class="btn btn-default">Cancel</button></a>
        </form>
    </div>
</div>