<div  ng-repeat="ad in ads.ads">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ad.title}} <span class="pull-right">{{ad.date | date:'dd-MMM-yyyy'}}</span>
        </div>
        <div class="panel-body">

            <div class="row">
                <div ng-if="ad.imageDataUrl" class="col-md-4">
                    <img data-ng-src="{{ad.imageDataUrl}}"  alt="{{ad.title}}" width="170px;">
                </div>
                <div ng-class="{true: 'col-md-8', false: 'col-md-12'}[ad.imageDataUrl != null]">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="permalink_section">{{ad.text}}</p>
                        </li>
                        <li class="list-group-item"><span class="label label-primary">Username</span> {{ad.ownerUsername}}</li>
                        <li class="list-group-item"><span class="label label-primary">Name</span> {{ad.ownerName}}</li>
                        <li class="list-group-item"><span class="label label-primary">Email</span> {{ad.ownerEmail}}</li>
                        <li class="list-group-item"><span class="label label-primary">Tel.</span> {{ad.ownerPhone}}</li>
                        <li class="list-group-item"><span class="label label-primary">Category</span> {{ad.categoryName}}</li>
                        <li class="list-group-item"><span class="label label-primary">Town</span> {{ad.townName}}</li>
                        <li class="list-group-item"><span class="label label-primary">Status</span> {{ad.status}}</li>
                    </ul>
                    <button disabled class="btn btn-primary">Approve</button>
                    <button disabled class="btn btn-primary">Reject</button>
                    <button disabled class="btn btn-primary">Edit</button>
                    <a href="#/admin/ads/delete/{{ad.id}}"><button class="btn btn-danger ">Delete</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="col-md-12 text-center">
    <pagination total-items="ads.numItems" ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                max-size="9" boundary-links="true">
    </pagination>
</nav>
