
    <div ng-repeat="ad in ads.ads" class="panel panel-primary">
        <div class="panel-heading">{{ad.title}} <span class="pull-right">{{ad.date | date:'dd-MMM-yyyy'}}</span>
        </div>
        <div class="panel-body">

            <div class="row">
                <div ng-if="ad.imageDataUrl" class="col-md-4">
                    <img src="{{ad.imageDataUrl}}"  alt="{{ad.title}}" width="170px;">
                </div>
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="permalink_section">{{ad.text}}</p>
                        </li>
                        <li class="list-group-item"><span class="label label-primary">Name</span> {{ad.ownerName}}</li>
                        <li class="list-group-item"><span class="label label-primary">Email</span> {{ad.ownerEmail}}</li>
                        <li class="list-group-item"><span class="label label-primary">Tel.</span> {{ad.ownerPhone}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <nav class="col-md-12 text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
