<div  ng-repeat="ad in ads.ads">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ad.title}} <span class="pull-right">{{ad.date | date:'dd-MMM-yyyy'}}</span>
        </div>
        <div class="panel-body">

            <div class="row">
                <div ng-if="ad.imageDataUrl" class="col-md-4">
                    <img class="ad-img" data-ng-src="{{ad.imageDataUrl}}"  alt="{{ad.title}}">
                </div>
                <div ng-class="{true: 'col-md-8', false: 'col-md-12'}[ad.imageDataUrl != null]">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="permalink_section">{{ad.text}}</p>
                        </li>
                        <li class="list-group-item"><span class="label label-primary">Name</span> {{ad.ownerName}}</li>
                        <li class="list-group-item"><span class="label label-primary">Email</span> {{ad.ownerEmail}}</li>
                        <li class="list-group-item"><span class="label label-primary">Tel.</span> {{ad.ownerPhone}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    <nav class="col-md-12 text-center" ng-hide="ads.numItems == 0">
        <pagination total-items="ads.numItems" ng-model="adsParams.startPage"
                    items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                    max-size="9" boundary-links="true">
        </pagination>
    </nav>

<h1 class="col-md-12 text-center" ng-show="ads.numItems == 0">No Ads</h1>