/* navbar */
.navbar-default {
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-login-register{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-sidebar{
    width: 100%;
}
.ad-title-{
    float: left;
}
.ad-date-{
    float: right;
}

.permalink_section
{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.btn-custom {
    background-color: #337ab7;
    border-color: #337ab7;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #2d6da3;
    border-color: #285f8f;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #337ab7;
    border-color: #337ab7;
}

input[type="date"]:before {
    content: attr(placeholder);
    color: #aaa;
}

input[type="date"]:focus:before, input[type="date"]:valid:before {
    content: "";
}

.ad-img{
    width: 170px;
}