/* navbar */
.navbar-default {
    background-color: #337ab7;
    border-color: #337ab7;
}

.navbar-default .navbar-text {
    color: #337ab7;
}

.btn-login-register{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-sidebar{
    width: 100%;
}
.ad-title-{
    float: left;
}
.ad-date-{
    float: right;
}

.permalink_section
{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
